.one-on-one-container {
    margin-top: 25px;
}

.one-on-one-form {
    border: 1px solid black;
    margin-top: 25px;
    padding: 20px 20px;
}

.one-on-one_input {
    margin: 15px 15px;
}

.one-on-one_input label {
    margin-right: 15px;
}

.one-on-one_button {
    margin: 0px 15px;
    background-color: green;
    color: white;
    padding: 5px 5px;
}

.one-on-one ul {
    margin: 15px 50px;
    list-style: disc;
}