*{margin:0;font-weight:800;font-family:fantasy}
header {
    background: var(--dark);
    border-bottom: 3px solid var(--primary);
    color: var(--light);
    padding: 25px 0;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.696);
    width: auto;
    border :3px solid black
  }
  
  header h1 {
    font-size: 42px;
    font-weight: 300;
    color: rgb(205, 193, 30);
  }
  
  header h1 span {
    color: var(--primary);
    font-weight: 700;
  }
  
  header p {
    font-style: italic;
  }


  li{list-style: none;}

  .container {
    display: grid;
    /* gap: 25px; */
    grid-template-columns: 1fr 1fr;
    /* margin: 25px auto; */
    width: fit-content;
  }
 p.student-name{color:black; display: inline;;
    
    ;margin: 25px auto;
    width: fit-content;}   

    /* div.layout{display: inline;
        gap: 25px;
        grid-template-columns: 1fr 1fr;
        margin: 25px auto;
        width: 60%;
    } */

    section#Student-Card{border: 2px solid rgb(249, 249, 249);width:fit-content}
    section#Student-List{max-width: 200;}


    div.layout{border:2px solid black;grid-template-columns: 1fr 2fr;display: grid; }

    th, td {
        padding: 15px;
      }

      div#table{border:2px solid pink}

      table, th, td {
        border: 1px solid black;
      }

      th.top1{background-color: red;}
      th.top2{background-color:orange;}
        th.top3{background-color:navajowhite;}

        /* form{border:2px solid red} */

        /* div.notes{border:2px solid yellow;width:170px;position: absolute;} */
        /* border-radius: 20px;top:75;max-width: 200px;} */
div.notes{color: blueviolet;border:5px solid;text-align: center;width:max-content}
        div.Comment-Section{color:red;}
p.comments{margin-top: 75px;}
        
img{width: 175px;}
div.layout{justify-content: flex-start; border-radius: 25px;width:450px; text-align: center;}
form{width:20px
}
ul{text-align: left;pointer-events: auto;}

div.App{border: 2px solid black }
img{border-radius: 23px;}

button{border-radius: 25px;}

div.App{border-radius: 25px;}
div{padding: 20px;}
div.App{width:200px;}

div#table{background-color:blanchedalmond;}


 body{background-color:rgba(230, 214, 214, 0.557); background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGZ-8HJXSoM6yqD7U4Bm72WR3TYZgCE0zZnQ&usqp=CAU");
backface-visibility: inherit;background-repeat:repeat-x;
}
 body::backdrop{opacity: 50%;}
 li{padding:10px}

 p.track{border:8px solid gold;}

 p.track1{border: 8px solid red;}

 p.track2{border:8px solid rebeccapurple;}
 p.track3{border:8px solid rgb(113, 228, 7);}
 p.track4{border:8px solid blue;}
 p.track5{border:8px solid whitesmoke;}
 p.track6{border:8px solid orange}
 p.track7{border:8px solid black}

 p.track8{border:8px solid silver}
 div#spg26.layout{background-color: azure;}
 div#sum26.layout{background-color:lightsalmon;}
 div#fal26.layout{background-color: lightgoldenrodyellow;}
 div#wi26.layout{background-color:lightpink;}
 div#all.layout{background-color: rgb(175, 193, 245);}
 div#fal25.layout{background-color: plum;}
 div#sum25.layout{background-color: mistyrose;}
 div#spr25.layout{background-color: rgb(233, 182, 94);}