main {
    border: 2px solid blueviolet;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


header {
    text-align: center;
}

#imgs h1 {
    text-align: right;
}